<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'session_words/style.css' %}">
        <title>Session Words</title>
    </head>
    <body>
        <div id="wrapper">
            
            <div id="options">
                <h1>Add a new word</h1>
                <form action="/process" method="post">
                    {% csrf_token %}
                    <input type="text" name="word">
                    <p>Choose a color</p>
                    <p><input type="radio" name="color" value="red"> Red</p>
                    <p><input type="radio" name="color" value="green"> Green</p>
                    <p><input type="radio" name="color" value="blue"> Blue</p>
                    <p><input type="checkbox" name="big_fonts"> show in BIG fonts!</p>
                    <input type="submit" value="Add to Session">
                </form>
            </div>
            <div id="display">
                <form action="/clear">
                    {% csrf_token %}
                    <input type="submit" value="Clear Session">
                </form>
                <!-- jinja content -->
                {% for element in request.session.content %}
                    <p>{{ element }}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>